<mat-list>
    <mat-list-item *ngFor="let quote of quotes">

<mat-card class="detail">
    <div style="display:flex">
        <div>
            <mat-card-title>HOLA {{quote.description}}</mat-card-title>
        </div>
        <div style="flex-grow: 1"></div>
        <button mat-icon-button ><mat-icon>close</mat-icon></button>
    </div>
    <mat-card-content class="content">
        <p >Change today:  {{quote.d}}            Opening price: {{quote.o}}</p>    
        <p >Current price: {{quote.c}}            High price: {{quote.h}}</p>
    </mat-card-content>
</mat-card>
</mat-list-item>
</mat-list>

<!--    <mat-list-item *ngFor="let quote of quotes">
      <p>{{quote.description}}</p>
      <p >Change today:  {{quote.d}}            Opening price: {{quote.o}}</p>
      
      <p >Current price: {{quote.c}}            High price: {{quote.h}}</p>
    </mat-list-item>
  </mat-list>
  -->
