<div class="center">

    <mat-card class="detail">
        <div style="display:flex;">
            <div>
                <mat-card-title>{{quote.description}} - ({{quote.symbol}})</mat-card-title>
            </div>
            <div style="flex-grow: 1"></div>
            <button mat-icon-button [id]="'remove'+quote.symbol"
            (click)="onClickDelete(quote.symbol)"><mat-icon class="closeButton">close</mat-icon></button>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content class="content">
            <br>
            <div>
                <div style="font-weight: bold;">
                    <span>
                        Change today:
                    </span>
                    <span style="margin-left: 55px;">
                        Opening price:
                    </span>
                </div>

                <div>
                    <span>
                        {{quote.d / 100 | percent : '1.2-2'}}
                    </span>
                    <span style="margin-left: 105px;">
                        {{quote.o | currency : 'USD'}}
                    </span>
                </div>

                <div style="font-weight: bold;">
                    <span >
                        Current price:
                    </span>
                    <span style="margin-left: 60px;">
                        High price:
                    </span>

                    <span>
                        <mat-icon style="margin-left: 60px;" [ngStyle]="{'color': quote.d > 0 ? 'green' : 'red'}" class="icon">
                            {{quote.d > 0 ? 'trending_up' : 'trending_down'}}  
                        </mat-icon>
                    </span>
                </div>

                <div>
                    <span>
                        {{quote.c | currency : 'USD'}}
                    </span>
                    <span style="margin-left: 94px;">
                        {{quote.h | currency : 'USD'}}
                    </span>
                </div>
            </div>

            <br>

            <button mat-button class="button" [id]="'sentiment'+quote.symbol" 
            [routerLink]="['/sentiment', quote.symbol]">Go to social sentiment details ></button>
        </mat-card-content>
    </mat-card>


</div>