<div class="background">
  <div class="center">
    <mat-card class="trackCard">
      <div>
        <div class="title">
          Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL)
        </div>
        <div style="flex-grow: 1"></div>
      </div>
      <mat-card-content class="content">
        <mat-form-field class="example-full-width">
          <mat-label>Symbol</mat-label>

          <input
            matInput
            maxlength="5"
            id="stockInput"
            [(ngModel)]="stockInput"
            placeholder="Ex. AAPL"
            oninput="this.value = this.value.toUpperCase()" 
            value=""
          />
        </mat-form-field>
        <button
          mat-button
          [disabled]="!stockInput"
          id="trackBtn"
          class="trackBtn"
          (click)="onClick(stockInput)"
        >
          Track stock
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <br />

  <app-stock-detail
    *ngFor="let quote of quotes"
    [quote]="quote"
    (remove)="onRemove($event)"
  >
  </app-stock-detail>
 
</div>

<div id="overlay">
    <span id="nav" *ngIf="saveInProgress">
        <div class="spinner" style="display: block; color: white; position: fixed; left: 49.7%; top: 50.5%;"></div>
    </span>
</div>